@{
    ViewBag.Title = "View";
}
<ul>
    <li>
        <a style="cursor: pointer;" href="~/Administrator/Users"> Управление пользователями </a>
    </li>
    <li>
        <a style="cursor: pointer;" href="~/Administrator/Brands"> Управление Брендами </a>
    </li>
</ul>

